<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 테마는 AppCompat 계열로 단일 지정 -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 테마 중복을 제거하고 단일 지정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ★ 다국어 설정 유지 및 자동 저장을 위한 서비스 추가 ★ -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <!-- 1. 카카오 앱 키 설정 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ffc781610bbb3fe10e166b87748a2802" />

        <!-- 2. 카카오톡 로그인 리다이렉트를 위한 필수 액티비티 추가 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- host에 "oauth"를, scheme에 "kakao{네이티브_앱_키}"를 입력합니다 -->
                <data android:host="oauth" android:scheme="kakaoffc781610bbb3fe10e166b87748a2802" />
            </intent-filter>
        </activity>

    </application>
</manifest>