<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoveOn"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LoveOn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1. 카카오 앱 키 설정 (실제 네이티브 앱 키 입력) -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ffc781610bbb3fe10e166b87748a2802" />
        <!-- 2. ★ 카카오톡 로그인 리다이렉트를 위한 필수 액티비티 추가 ★ -->
        <!-- 카카오 로그인 redirect URI 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- host에 "oauth"를, scheme에 "kakao{네이티브_앱_키}"를 입력합니다 -->
                <!-- 예: 네이티브 앱키가 12345라면 kakao12345 -->
                <data android:host="oauth" android:scheme="kakaoffc781610bbb3fe10e166b87748a2802" />

            </intent-filter>
        </activity>

    </application>
</manifest>